* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* style scroll bar */
::-webkit-scrollbar {
  width: 7px;
}

::-webkit-scrollbar-track {
  background: rgba(0, 0, 0, 0.8);
}

::-webkit-scrollbar-thumb {
  background: inherit;
  /* border-radius: 10px; */
}

body {
  background-repeat: no-repeat;
}

.nav {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 120px;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  padding-top: 20px;
  z-index: 1000;
  color: white;
  /* glass effect */
  backdrop-filter: saturate(180%) blur(10px);

  --mask: radial-gradient(
        50.4px at 50% calc(100% - 70.5px),
        #000 99%,
        #0000 101%
      )
      calc(50% - 60px) 0/120px 100%,
    radial-gradient(50.4px at 50% calc(100% + 40.5px), #0000 99%, #000 101%) 50%
      calc(100% - 30px) / 120px 100% repeat-x;
  -webkit-mask: var(--mask);
  mask: var(--mask);
  transition: all 0.5s ease-in-out;
}

.nav-container {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 50%;
  border: 1px solid transparent;
}

.logo-img {
  width: 200px;
  height: 200px;
  margin-left: 20px;
}

.nav-links {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 30%;
}

.nav-link {
  display: flex;
  align-items: center;
  margin-right: 20px;
  gap: 10px;
  width: fit-content;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  font-size: 1rem;
  font-weight: bold;
  background-color: rgba(0, 0, 0, 0.5);
  border-radius: 25px;
  cursor: pointer;
  padding-right: 20px;
}

.nav-link img {
  height: 50px;
  width: 50px;
  cursor: pointer;
  transition: 0.3s;
  filter: invert(1);
}

main {
  height: 110dvh;
  display: flex;
  justify-content: center;
  align-items: center;
  animation: fade 0.5s ease-in-out;
}

@keyframes fade {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.input-container {
  background: rgba(0, 0, 0, 0.5);
  backdrop-filter: saturate(180%) blur(10px);
  height: 50%;
  width: 50%;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  flex-direction: column;
  border-radius: 30px;
  margin-top: 200px;
}

/* .input-container * {
  border: 1px solid white;
} */

.color-input-container {
  display: flex;
  align-items: center;
  justify-content: space-around;
  height: 60px;
  width: 100%;
}

.user-color-input {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 60px;
  width: 70%;
  gap: 30px;
}

#color3 {
  display: none;
  animation: fadeIn 0.3s ease-in-out;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
    transform: translateX(20px);
  }
  100% {
    opacity: 1;
  }
}

.color-input-container input {
  -webkit-appearance: none;
  height: 50px;
  width: 50px;
  border: none;
  outline: none;
  background: none;
  filter: drop-shadow(5px 7px 5px rgba(0, 0, 0, 0.5));
}

.color-input-container input::-webkit-color-swatch-wrapper {
  padding: 0;
}

.color-input-container input::-webkit-color-swatch {
  border: none;
  border-radius: 50%;
}

.color-input-container button {
  height: 50px;
  width: 50px;
  background: transparent;
  color: white;
  border: none;
  border-radius: 50%;
  font-size: 2rem;
  cursor: pointer;
  transition: transform 0.7s ease;
}

.color-input-container button:hover {
  transform: scale(1.1);
  border: 2px solid white;
}

.random-colors-button {
  box-sizing: content-box;
  height: 50px;
  width: 40%;
  margin: 0 50px 0 0;
  background: white;
  color: black;
  border: none;
  border-radius: 10px;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  font-size: 1.2rem;
  font-weight: bold;
  cursor: pointer;
  transition: 0.3s;
  display: flex;
  align-items: center;
  justify-content: center;
  user-select: none;
  border-bottom: 5px solid #3071a9;
  filter: drop-shadow(5px 7px 5px rgba(0, 0, 0, 0.5));
}

.random-colors-button:active {
  /* transform: scale(0.9); */
  border-bottom: none;
  filter: drop-shadow(0px 0px 0px rgba(0, 0, 0, 0.5));
}

.random-colors-button img {
  height: 70%;
  margin-right: 10px;
}

.rotation-input-container {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: column;
}

.predefined-rotation-container {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  height: 50px;
  width: 70%;
  margin: 0 20px;
  color: white;
  font-size: 1rem;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}

.predefined-rotation-container i {
  cursor: pointer;
  transition: 0.3s;
}

.predefined-rotation-container i:hover {
  transform: scale(1.2);
  border: 2px solid white;
  border-radius: 50%;
  padding: 6px;
}

#radialGradientButton {
  border: 2px solid transparent;
  padding: 6px;
  border-radius: 50%;
}

.user-input-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 60px;
  width: 70%;
  gap: 20px;
  margin: 0 20px;
  color: white;
  font-size: 1.5rem;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}

.current-degree {
  height: 80%;
  width: 20%;
  background: transparent;
  color: white;
  text-align: center;
  font-size: 20px;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  display: flex;
  align-items: center;
  justify-content: center;
}

input[type="range"] {
  height: 38px;
  -webkit-appearance: none;
  margin: 10px 0;
  width: 70%;
  background: transparent;
}
input[type="range"] {
  height: 38px;
  -webkit-appearance: none;
  margin: 10px 0;
  width: 100%;
}
input[type="range"]:focus {
  outline: none;
}
input[type="range"]::-webkit-slider-runnable-track {
  width: 100%;
  height: 10px;
  cursor: pointer;
  animate: 0.2s;
  box-shadow: 1px 1px 1px #000000;
  background: #3071a9;
  border-radius: 5px;
  border: 1px solid #000000;
}
input[type="range"]::-webkit-slider-thumb {
  box-shadow: 1px 1px 1px #000000;
  border: 1px solid #000000;
  height: 30px;
  width: 15px;
  border-radius: 5px;
  background: #ffffff;
  cursor: pointer;
  -webkit-appearance: none;
  margin-top: -11px;
}
input[type="range"]:focus::-webkit-slider-runnable-track {
  background: #3071a9;
}
input[type="range"]::-moz-range-track {
  width: 100%;
  height: 10px;
  cursor: pointer;
  animate: 0.2s;
  box-shadow: 1px 1px 1px #000000;
  background: #3071a9;
  border-radius: 5px;
  border: 1px solid #000000;
}
input[type="range"]::-moz-range-thumb {
  box-shadow: 1px 1px 1px #000000;
  border: 1px solid #000000;
  height: 30px;
  width: 15px;
  border-radius: 5px;
  background: #ffffff;
  cursor: pointer;
}
input[type="range"]::-ms-track {
  width: 100%;
  height: 10px;
  cursor: pointer;
  animate: 0.2s;
  background: transparent;
  border-color: transparent;
  color: transparent;
}
input[type="range"]::-ms-fill-lower {
  background: #3071a9;
  border: 1px solid #000000;
  border-radius: 10px;
  box-shadow: 1px 1px 1px #000000;
}
input[type="range"]::-ms-fill-upper {
  background: #3071a9;
  border: 1px solid #000000;
  border-radius: 10px;
  box-shadow: 1px 1px 1px #000000;
}
input[type="range"]::-ms-thumb {
  margin-top: 1px;
  box-shadow: 1px 1px 1px #000000;
  border: 1px solid #000000;
  height: 30px;
  width: 15px;
  border-radius: 5px;
  background: #ffffff;
  cursor: pointer;
}
input[type="range"]:focus::-ms-fill-lower {
  background: #3071a9;
}
input[type="range"]:focus::-ms-fill-upper {
  background: #3071a9;
}

.code-output {
  width: 100%;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
}

#code {
  resize: none;
  color: black;
  padding: 10px;
  width: 80%;
  height: 100%;
  background-color: white;
  border-radius: 10px 0 0 10px;
  text-align: center;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  font-size: 0.9rem;
  font-weight: bold;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  filter: drop-shadow(5px 7px 5px rgba(0, 0, 0, 0.5));
}

.code-output button {
  height: 100%;
  width: 10%;
  background: #3071a9;
  color: white;
  border: none;
  border-radius: 0 10px 10px 0;
  font-size: 1rem;
  font-weight: bold;
  cursor: pointer;
  transition: 0.3s;
  z-index: 1;
  filter: drop-shadow(5px 7px 5px rgba(0, 0, 0, 0.5));
}

.code-output button:hover {
  background: #1e4f7a;
}

.code-output button:active {
  background: #1e4f7a;
  filter: drop-shadow(0px 0px 0px rgba(0, 0, 0, 0.5));
}

.extra-buttons-container {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  /* height: 50px; */
  width: 70%;
}

.extra-buttons-container button {
  height: 40px;
  width: 20%;
  color: #3071a9;
  background: white;
  border: none;
  border-radius: 10px;
  font-size: 1.5rem;
  font-weight: bold;
  cursor: pointer;
  transition: 0.3s;
  filter: drop-shadow(5px 7px 5px rgba(0, 0, 0, 0.5));
}

.like-button:hover {
  color: red;
}

.download-button:hover {
  color: black;
}

.extra-buttons-container button:active {
  filter: drop-shadow(0px 0px 0px rgba(0, 0, 0, 0.5));
}

.saved-gradients-container {
  /* height: 100dvh; */
  max-height: 100dvh;
  width: 100%;
  padding: 20px;
  background: linear-gradient(
    180deg,
    rgba(0, 0, 0, 0.5) 0%,
    rgba(0, 0, 0, 0) 100%
  );
  border-radius: 50px 50px 0 0;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.saved-gradients-header-container {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 50px;
  margin-bottom: 40px;
}

.clear-all-liked-gradients-button {
  height: 40px;
  width: 10%;
  background: white;
  color: #3071a9;
  border: none;
  border-radius: 10px;
  font-size: 1.2rem;
  font-weight: bold;
  cursor: pointer;
  transition: 0.3s;
  filter: drop-shadow(5px 7px 5px rgba(0, 0, 0, 0.5));
}

.clear-all-liked-gradients-button:hover {
  background: #1e4f7a;
  color: white;
}

.clear-all-liked-gradients-button:active {
  filter: drop-shadow(0px 0px 0px rgba(0, 0, 0, 0.5));
}

.saved-gradients-container h1 {
  color: white;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  font-size: 2rem;
  font-weight: bold;
  text-align: center;
}

.saved-gradients-list {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 20px;
  width: 100%;
  height: 90%;
  /* padding: 20px; */
  overflow-y: auto;
  /* border: 1px solid red; */
  --mask: linear-gradient(
      to bottom,
      rgba(0, 0, 0, 1) 0,
      rgba(0, 0, 0, 1) 90%,
      rgba(0, 0, 0, 0) 110%,
      rgba(0, 0, 0, 0) 0
    )
    100% 50% / 100% 100% repeat-x;
  font: 2em/1.6em Arial;
  -webkit-mask: var(--mask);
  mask: var(--mask);

  /* scroll bar */
  scrollbar-width: thin;
  scrollbar-color: #3071a9 transparent;
  /* scroll bar */
}

.saved-gradients-list li {
  background-color: rgba(0, 0, 0, 0.8);
  backdrop-filter: saturate(180%) blur(10px);
  height: 90px;
  width: 200px;
  border-radius: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0 10px;
  gap: 10px;
}

.saved-gradient-color {
  height: 80%;
  width: 40%;
  border-radius: 20px;
}

.saved-gradient-buttons {
  width: 60%;
  height: 80%;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  /* gap: 20px; */
}

.saved-gradient-buttons button {
  background-color: transparent;
  color: white;
  border: none;
  border-radius: 20px;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  font-size: 1.5rem;
  font-weight: bold;
  cursor: pointer;
  padding: 10px;
  transition: 0.3s;
}

.saved-gradient-buttons button:hover {
  transform: scale(1.1);
  background-color: rgba(255, 255, 255, 0.185);
}

.footer-container {
  height: 40vh;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.8);
  --mask: radial-gradient(50.4px at 50% 70.5px, #000 99%, #0000 101%)
      calc(50% - 60px) 0/120px 100%,
    radial-gradient(50.4px at 50% -40.5px, #0000 99%, #000 101%) 50% 30px/120px
      100% repeat-x;
  -webkit-mask: var(--mask);
  mask: var(--mask);
  display: flex;
  align-items: space-evenly;
}
/* 
.footer-container * {
  border: 1px solid white;
} */

.footer-logo {
  align-self: flex-end;
  height: 90%;
  width: 60%;
  display: flex;
  align-items: center;
  justify-content: center;
  /* flex-direction: column; */
  color: white;
  font-family: "Finger Paint", sans-serif;
  font-size: 2rem;
  margin-left: 20px;
}

.footer-logo * {
  /* border: 1px solid white; */
}

.footer-logo img {
  height: 130px;
  /* width: 150px; */
}

.footer-divider-line {
  align-self: flex-end;
  height: 70%;
  width: 3px;
  background-color: white;
  margin-bottom: 1%;
  margin: 1% 50px;
}

.footer-links {
  align-self: flex-end;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  height: 90%;
  width: 30%;
  color: white;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  font-size: 1.5rem;
  font-weight: bold;
  gap: 30px;
}

.footer-link {
  padding-bottom: 3px;
  cursor: pointer;
}

.footer-link:hover {
  transform: scale(1.1);
  border-bottom: 2px solid white;
}

.footer-2 {
  background-color: rgba(0, 0, 0, 1);
  color: white;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  height: 10vh;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  font-size: 1.5rem;
}

.alert-container {
  display: none;
  justify-content: space-between;
  padding: 0 20px;
  align-items: center;
  height: 100px;
  width: 300px;
  background-color: #fff;
  border-radius: 0 20px 20px 0;
  position: fixed;
  bottom: 30px;
  transition: all 0.7s ease;
  animation: slide-in 0.7s ease-out;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  font-size: 1.5rem;
  font-weight: 700;
  color: #333;
}

@keyframes slide-in {
  from {
    left: -100%;
  }
  to {
    left: 0;
    display: flex;
  }
}

@keyframes slide-out {
  from {
    left: 0;
  }
  to {
    left: -100%;
    display: none;
  }
}
